@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

/* Shared Styles Here */
*{
    margin: 0;
    padding: 0;
}
body{
    color: #131318;
}
.primary-btn{
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: #ff5400;
    border: none;
    border-radius: 10px;
}
main{
    margin: 0 100px;
    font-family: 'Mulish', sans-serif;
}
p{
    font-weight: 300;
}

/* Navbar Section Styles */

.navbar{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    margin-right: 30px;
}
.navbar ul li a{
    text-decoration: none;
    color: #131318;
    font-size: 1.2rem;
    font-weight: 500;
}
.navbar .active{
    color: #ff5400;
}
.navbar .logo{
    display: flex;
    align-items: center;
}
.navbar span{
    color: #ff5400;
}
.navbar .logo h2{
    font-size: 2rem;
    font-weight: 800;
    padding-left: 20px;
}

/* Banner Section Styles */

.banner{
    margin-top: 80px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(Images/banner.png);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    justify-content: center;
    padding-top: 200px;
}
.banner-titles, .banner-input-fields{
    text-align: center;
}
.banner-titles h1{
    font-size: 3rem;
    color: white;
    font-weight:800;
    padding-bottom: 20px;
}
.banner-titles p{
    color: white;
    filter: opacity(80%);
    width: 50%;
    margin: auto;
}
.nav-selector, .findnow-btn, .nav-input{
    width: 150px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 10px;
    border: none;
}

.banner-input-fields{
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.30);
    align-items: center;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
    width: 60%;
}
.banner-input-fields option{
    color: rgb(163, 160, 160);
}
.common{
    margin-right: 10px;
    color: rgb(169, 169, 169);
}


/* Popular Tour Section Styles */

.popular-tour-container{
    margin: 100px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular-tour-content{
    width: 50%;
}
.popular-tour-container p, li{
    padding: 10px 0;
    list-style-position: inside;
    font-weight: 300;
}
.popular-tour-container h1{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 20px;
}
.popular-tour-container .read-more-btn{
    margin-top: 10px;
}

/* Destination Section Styles */

.destination-titles{
    text-align-last: center;
}
.destination-titles h1{
    font-size: 2.5rem;
    font-weight: 800;
    padding: 10px 0;
}
.destination-titles p{
    padding: 20px 0;
}
.destination-img-container h3{
    color: white;
    margin-top: 150px;
}
.img-row-1{
    display: flex;
    height: 300px;
    gap: 20px;
    text-align: center;
}
.img-row-1 .img1{
    background: url(Images/maldives.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    border-radius: 10px;
}
.img-row-1 .img2{
    background: url(Images/indonesia.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    border-radius: 10px;
}
.img-row-2{
    margin-top: 20px;
    display: flex;
    height: 300px;
    gap: 20px;
    text-align: center;
}
.img-row-2 .img1{
    background: url(Images/Srilanka.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40%;
    border-radius: 10px;
}
.img-row-2 .img2{
    background: url(Images/northamerica.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 60%;
    border-radius: 10px;
}
.img-row-2 .img3{
    background: url(Images/kashmir.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30%;
    border-radius: 10px;
}
.img-row-3{
    margin-top: 20px;
    display: flex;
    height: 300px;
    gap: 20px;
    text-align: center;
}
.img-row-3 .img1{
    background: url(Images/bangladesh.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40%;
    border-radius: 10px;
}
.img-row-3 .img2{
    background: url(Images/bandarban.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 60%;
    border-radius: 10px;
}

/* Testimonial Section Styles */

.testimonial_container{
    margin-top: 100px;
}
.testimonial_titles{
    text-align: center;
}
.testimonial_titles .subtitle{
    font-size: 3rem;
    padding: 20px 0px;
}
.testimonial_titles .title{
    font-size: 1.5rem;
    color: #ff5400;
    font-weight: 900;
}
.testimonial_container p{
    line-height: 25px;
}

.testimonial_cards img{
    height: 100px;
    width: 100px;
    border: 3px solid #ff5400;
    border-radius: 50%;
    margin-bottom: 20px;
}
.testimonial_cards{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}

.test-card{
    padding: 50px 20px;
    border: 2px solid rgb(223, 222, 222);
    border-radius: 20px;
}
.testimonial_cards .card2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.testimonial_cards .card1, .card3{
    margin-top: 80px;
}
/* Why Choose Us Section Style */

.why-choose-us-container{
    margin-bottom: 100px;
    margin-top: 100px;
}
.why-choose-us-titles{
    text-align: center;
}
.why-choose-us-titles h1{
    font-weight: 800;
    padding: 20px;
    font-size: 2.5rem;
}

.hotel-card{
    border-radius: 10px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.service-card{
    border-radius: 10px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.guarantee-card{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.why-choose-us-container .row-1{
    display: flex;
    gap: 20px;
}
.why-choose-us-container img{
    height: 50px;
    width: auto;
}
.why-choose-us-container .row-2{
    width: 50%;
    margin: auto;
    margin-top: 20px;   
}
.why-choose-us-container .hotel-card, .service-card, .guarantee-card{
    padding: 40px;
}
.why-choose-us-container h2{
    padding: 20px 0;
    font-weight: 800;
}
.why-choose-us-container p{
    line-height: 30px;
}

/* Newsletter Section Styles */

.newsletter-container{
    display: flex;
    justify-content: space-between;
}
.newletter-content{
    padding: 50px;
    border: 1px solid #ff5400;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
}
.newsletter-content h1, hr, p, input{
    margin-bottom: 30px;
}
.newletter-content h1{
    text-align: left;
    padding-bottom: 20px;
    font-weight: 900;
}

.newletter-content .subcribe-btn{
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #ff5400;
    color:white;
    border: none;
}
.newsletter-container input{
    width: calc(100% - 20px);
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgba(19, 19, 24, 0.05);
    padding-left: 20px;
}


/* Footer Section Syles */

.footer{
    margin: 100px 0px;
    margin-bottom: 0px;
    height: 300px;
    background-color: rgba(19, 19, 24, 0.05);
    padding: 0px ;
    /* padding-top: 150px; */
    padding: 100px 0;
    margin-left: 0px;
}
.footer .footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    gap: 10px;
}
.footer-content{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 250px;
}

.footer h3{
    font-weight: 800;
    font-size: 2rem;
    
}
.footer span{
    color: #ff5400;
}
.footer .icons{
    font-size: 30px;
    padding-bottom: 40px;
}
.footer .icons >a{
    padding: 10px;
    color: #131318;
}


/* Responsive for Mobile Device */

@media screen and (max-width:600px) {
    main{
        margin: 20px;
        padding: 0px;
    }

    .banner-input-fields{
        flex-direction: column;
    }
    .popular-tour-container{
        flex-direction: column;      
    }
    .popular-tour-content{
        width: 100vh;
        margin-left: 400px;
    }
    .popular-content-img{
        width: 100%;    
        margin-top: 50px; 
    }

    /* Testimonial Section Style */
    .testimonial_titles{
        width: 1000px;
    }

    .testimonial_cards {
        display: flex;
        gap: 30px;
        flex-direction: column;
        width: 920px;
        margin-left: 25px;
        margin-top: 0px;
    }
    .testimonial_cards .card3{
        margin-top: 0px;
    }
    /* Why Choose Us Section */

    .why-choose-us-titles{
        padding: 0;
        width: 920px;
        margin-left: 25px;
    }
    
    }
    .why-choose-us-titles p{
        width: 100%;
        padding: 5px 0;
    }
    .why-choose-us-container .row-1{
        flex-direction: column;
        width: 920px;
        margin-left: 20px;
    }
    .why-choose-us-container .row-2{
        width: 100%;
        width: 920px;
        margin-left: 25px;
    }
    /* Newsletter-section */

    .newsletter-container{
        flex-direction: column;
        width: 100%;
        margin: 0;
    }
    .newletter-content{
        width: 800px;
        text-align: left;
        margin-left: 30px;
        margin-bottom: 50px;
    }
    .newsletter-image{
        width: 900px;
        margin-left: 30px;
    }
   

    
    /* Footer Section */
    .footer{
        padding: 0px 100px;
        padding-top: 50px;
        width: 800px;
    }
    .footer-content{
        padding: 0px;
    }
}